Goal : Made a Carbon Footsprint Calculator in order to raise awareness against global warming

Requirements : You Need To Have Theses Python PIP Modules Installed :

PILLOW (pip install pillow)
Pyglet (pip install pyglet)
Requests (pip install requests)
