Goal : Made a Carbon Footsprint Calculator in order to raise awareness against global warming

Requirements if you are using the python version : You Need To Have Theses Python PIP Modules Installed :
PILLOW
Pyglet
Requests

Type theses commands in cmd :

pip install pillow
pip install pyglet
pip install requests